<form>
  <div class="row">
    <div class="col-md-12 justify-content-end align-self-center">
      <div class="card bg-light">
        <div class="card-body">
          <accordion [isAnimated]="true">
            <accordion-group [isOpen]="estadoAcordion">
              <legend class="custom-legend" accordion-heading>
                <em class="fa fa-search"></em> Criterios de B&uacute;squeda
              </legend>
              <br>
              <div class="form-group col-md-12 form-row">
                <div class="form-group col-md-2 form-row">
                  <select class="form-control form-control-sm" [(ngModel)]="searchCliente.tipo" (change)="changeSlxTipoDocumento($event.target)" name="searchCliente">
                    <!-- <option value="{{stringVacio}}">{{defaultTipoSearch}}</option> -->
                    <option *ngFor="let select of selectCliente" value="{{select.id}}">{{select.text}}</option>
                  </select>
                </div>
                <div class="form-group col-md-6 form-row">
                  <div class="col-md-12 input-group">
                    <input type="text" class="form-control form-control-sm" name="dato" [(ngModel)]="searchCliente.dato">
                  </div>
                </div>                
                <div class="form-group col-md-4 form-row">
                <span  class="badge  col-md-12 " role="alert">
                  <h6 [ngClass]="paginationCliente.total !=0 ? 'font-blue-bbva' : 'text-danger'"><strong>{{paginationCliente.total}} registros encontrados </strong></h6>
                </span >
                </div>
              </div>
              <br>
              <div class="row">
                <div class="form-group col-md-12 text-center">
                  <div class="btn-toolbar justify-content-center">
                    <button class="btn btn-default btn-sm" type="button" style="width: 120px;" (click)="btnBuscarLstCliente()">
                      <em class="fa fa-filter"></em>
                      <span>Buscar</span>
                    </button>
                    <button class="btn btn-default btn-sm" type="button" style="width: 120px;" (click)="btnLimpiar()">
                      <em class="fa fa-eraser"></em>
                      <span>Limpiar</span>
                    </button>
                  </div>
                </div>
              </div>
            </accordion-group>
            <accordion-group [isOpen]="estadoAcordion">
              <legend class="custom-legend" accordion-heading>
                <em class="fa fa-table"></em> Listado de Clientes
              </legend>
              <div class="form-row">
                <div class="col-md-6 form-row align-self-center">
                  <div class="btn-toolbar">
                    <button type="button" class="btn btn-default btn-sm" style="min-width: 80px;" tooltip="Nuevo Registro!" (click)="btnNuevoCliente()">
                      <em class="fa fa-plus"></em> Nuevo Registro
                    </button>
                  </div>
                </div>
                <div class="col-md-6 form-row justify-content-end align-self-center">
                  <div class="btn-toolbar">
                    <button type="button" class="btn btn-default btn-sm" style="min-width: 40px;" tooltip="Descargar!" (click)="btnDescargarExcel()"
                      [disabled]="paginationCliente.isEmpty()">
                      <em class="fa fa-file-excel-o"></em>
                    </button>
                    <button type="button" class="btn btn-default btn-sm" style="min-width: 40px;" tooltip="Refrescar!" (click)="btnRefreshLstCliente()">
                      <em class="fa fa-refresh"></em>
                    </button>
                  </div>
                </div>
              </div>
              <div id="idTableLstCliente" class="table-responsive">
                <table class="table table-bordered table-margin text-center">
                  <thead class="custom-thead">
                    <tr>
                      <th scope="col" rowspan="2">#</th>
                      <th scope="col" rowspan="2">Nombres</th>
                      <th scope="col" rowspan="2">Apellidos</th>
                      <th scope="col" rowspan="2">D.N.I.</th>
                      <th scope="col" rowspan="2">Estado</th>
                      <th scope="col" rowspan="2">Operaciones</th>
                    </tr>
                  </thead>
                  <tbody class="table-white">
                    <ng-template *ngIf="lstCliente?.length > 0 && !paginationCliente.loading; else tableEmptyCliente" ngFor
                      let-cliente [ngForOf]="lstCliente" let-i="index">
                      <tr>
                        <td>{{paginationCliente.getNroRecord(i)}}</td>
                        <td>{{cliente.nombre}}</td>
                        <td>{{cliente.apPaterno+" "+cliente.apMaterno}}</td>
                        <td>{{cliente.dni}}</td>
                        <td *ngIf="cliente.indActivo == true"><h5><span class="badge badge-pill badge-success">ACTIVO</span></h5></td>
                        <td *ngIf="cliente.indActivo == false"><h5><span class="badge badge-pill badge-danger">DE BAJA</span></h5></td>
                        <!--<td *ngIf="cliente.indActivo == true"><em class="fa fa-check text-success"></em></td>
                        <td *ngIf="cliente.indActivo == false"><em class="fa fa-times text-danger"></em></td>-->
                        <td>
                          <div class="btn-toolbar btn-margin justify-content-center" style="min-width: 80px;">
                            <button type="button" class="btn btn-default btn-sm" tooltip="Ver Detalle!" (click)="btnDetalleCliente(cliente)">
                              <em class="fa fa-eye"></em>
                            </button>
                            <button type="button" class="btn btn-default btn-sm" tooltip="Editar Detalle!" (click)="btnEditarCliente(cliente)">
                              <em class="fa fa-edit"></em>
                            </button>
                            <button type="button" class="btn btn-secundary btn-sm" tooltip="Dar de Baja!" (click)="btnBajaCliente(cliente)">
                              <em class="fa fa-minus-circle"></em>
                            </button>
                          </div>
                        </td>
                      </tr>
                    </ng-template>
                  </tbody>
                </table>
              </div>
              <app-pagination [pagination]="paginationCliente" (loadPage)="reqLstClientePaginado($event)"></app-pagination>
            </accordion-group>
          </accordion>
        </div>
      </div>
    </div>
  </div>
</form>

<ng-template #tableEmptyCliente>
  <tr style="height: 100px;">
    <td colspan="12">
      <div *ngIf="paginationCliente.loading" class="text-center">
        <span class="fa fa-circle-o-notch fa-spin fa-10x custom-text-blue"></span>
      </div>
    </td>
  </tr>
</ng-template>