<nav class="navbar navbar-expand-lg navbar-default app-font-size-14x">
	<div class="navbar-header">
		<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#menu-principal" aria-expanded="false">
			<span class="text-white"><em class="fas fa-bars fa-2x"></em></span>
		</button>
		<a class="navbar-brand hidden-sm hidden-md hidden-lg" href="#" style="color: #FFF;">VENTAS</a>
	</div>

	<div id="menu-principal" class="btn-group">
		<ul class="nav navbar-nav mr-auto ">
			<li *ngFor="let menu of listMenu" class="nav-item dropdown" dropdown>
				<a id="navbarDropdownMenuLink" href="" (click)="$event.preventDefault()" dropdownToggle class="nav-link dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <em class="color-text-blanco fa {{menu.icon}}"></em>
					<span class="color-text-blanco">{{menu.name}}</span>
				</a>
				<ul class="dropdown-menu app-font-size-14x" *dropdownMenu aria-labelledby="navbarDropdownMenuLink">
					<ng-template ngFor let-childMenu [ngForOf]="menu.listMenu" let-i="index">
						<ng-template *ngIf="childMenu.listMenu;then content1 else content2"></ng-template>
						<ng-template #content1>
							<li class="nav-item dropdown">
								<h6 class="dropdown-header">{{childMenu.name}}</h6>
							</li>
							<li *ngFor="let childMenu1 of childMenu.listMenu" class="nav-item dropdown">
								<a routerLink="{{childMenu1.route}}" class="dropdown-item" tabindex="-1">
									<em class="fa {{childMenu1.icon}}"></em> {{childMenu1.name}}
								</a>
							</li>
							<div class="dropdown-divider"></div>
						</ng-template>
						<ng-template #content2>
							<li class="nav-item dropdown">
								<a routerLink="{{childMenu.route}}" class="dropdown-item" tabindex="-1">
									<em class="fa {{childMenu.icon}}"></em> {{childMenu.name}}
								</a>
							</li>
						</ng-template>
					</ng-template>
				</ul>
			</li>
		</ul>
	</div>
</nav>