<div class="modal-header alert-primary">
	<h4 class="modal-title font-weight-bold">{{ titulo }}</h4>
	<button type="button" class="btn btn-default btn-sm" aria-label="Close" (click)="bsModalRef.hide()">
		<em class="fa fa-window-close"></em>
	</button>
</div>
<div class="modal-body">
  <form [formGroup]="clienteForm">
    <br>
    <div class="card bg-light">
      <div class="card-body">
        <div class="card">
          <div class="card-body">
            <div class="form-row">
				<div class="form-group col-md-6 form-row">
					<label for="staticDni" class="text-md-right col-md-2 col-form-label">D.N.I.:</label>
					<div class="col-md-5">
						<input type="text" name="dni" class="form-control form-control-sm" placeholder="D.N.I." maxlength="8"
							formControlName="dni"  [ngClass]="{ 'is-invalid': statusValidateDni && f.dni.errors }" 
							[(ngModel)]="cliente.dni" [disabled]="disable" (input)="validInput($event.target.name)"/>
						<div *ngIf="statusValidateDni && f.dni.errors && f.dni.touched" class="invalid-feedback">
							<div *ngIf="f.dni.errors.required">(*) D.N.I. es requerido</div>
							<div *ngIf="f.dni.errors.minlength">(*) Minimo 8 caracteres</div>
						</div>
					</div>
					<div class="col-md-5">
						<button type="button" class="btn btn-default btn-sm" (click)="getDataRenic()" style="width: 100px;">RENIEC
							<em class="fa fa-location-arrow"></em>
						</button>
					</div>
				</div>
				<div class="form-group col-md-6 form-row">
					<label for="staticEmail" class="text-md-right col-md-2 col-form-label">Direccion:</label>
					<div class="col-md-10">
					<input type="text" name="direccion" class="form-control form-control-sm" placeholder="Direccion"
						formControlName="direccion"  
						[(ngModel)]="cliente.direccion" [disabled]="disable" />
					</div>
				</div>
				<div class="form-group col-md-6 form-row">
					<label for="staticNombre" class="text-md-right col-md-2 col-form-label">Nombres:</label>
					<div class="col-md-10">
						<input type="text" name="nombre" class="form-control form-control-sm" placeholder="Nombre"
							formControlName="nombre" [ngClass]="{ 'is-invalid': statusValidateNombre && f.nombre.errors && f.nombre.touched }" 
							[(ngModel)]="cliente.nombre" [disabled]="disable" (input)="validInput($event.target.name)"/>
						<div *ngIf="statusValidateNombre && f.nombre.errors && f.nombre.touched" class="invalid-feedback">
							<div *ngIf="f.nombre.errors.required">(*) Nombre es requerido</div>
						</div>
					</div>
				</div>
				<div class="form-group col-md-6 form-row">
					<label for="staticEmail" class="text-md-right col-md-2 col-form-label">Contacto:</label>
					<div class="col-md-10">
					<input type="text" name="contacto" class="form-control form-control-sm" placeholder="Contacto"
						formControlName="contacto"  
						[(ngModel)]="cliente.contacto" [disabled]="disable" />
					</div>
				</div>
				<div class="form-group col-md-6 form-row">
					<label for="staticEmail" class="text-md-right col-md-2 col-form-label">Ap. Paterno:</label>
					<div class="col-md-10">
						<input type="text" name="apPaterno" class="form-control form-control-sm" placeholder="Ap. paterno"
							formControlName="apPaterno"  [ngClass]="{ 'is-invalid': statusValidateApPaterno && f.apPaterno.errors }" 
							[(ngModel)]="cliente.apPaterno" [disabled]="disable" (input)="validInput($event.target.name)"/>
						<div *ngIf="statusValidateApPaterno && f.apPaterno.errors && f.apPaterno.touched" class="invalid-feedback">
							<div *ngIf="f.apPaterno.errors.required">(*) Ap. paterno es obligatorio</div>
						</div>
					</div>
				</div>
				<div class="form-group col-md-6 form-row">
					<label for="staticEmail" class="text-md-right col-md-2 col-form-label">Telefono:</label>
					<div class="col-md-10">
					<input type="text" name="telefono" class="form-control form-control-sm" placeholder="Telefono"
						formControlName="telefono" 
						[(ngModel)]="cliente.telefono" [disabled]="disable" />
					</div>
				</div>
				<div class="form-group col-md-6 form-row">
					<label for="staticEmail" class="text-md-right col-md-2 col-form-label">Ap. Materno:</label>
					<div class="col-md-10">
						<input type="text" name="apMaterno" class="form-control form-control-sm" placeholder="Ap. materno"
							formControlName="apMaterno"  [ngClass]="{ 'is-invalid': statusValidateApMaterno && f.apMaterno.errors }" 
							[(ngModel)]="cliente.apMaterno" [disabled]="disable" (input)="validInput($event.target.name)"/>
						<div *ngIf="statusValidateApMaterno && f.apMaterno.errors && f.apMaterno.touched" class="invalid-feedback">
							<div *ngIf="f.apMaterno.errors.required">(*)Ap. materno es obligatorio</div>
						</div>
					</div>
				</div>
				<div class="form-group col-md-6 form-row">
					<label for="staticEmail" class="text-md-right col-md-2 col-form-label">Correo:</label>
					<div class="col-md-10">
						<input type="text" name="email" class="form-control form-control-sm" placeholder="Correo"
							formControlName="email"  [ngClass]="{ 'is-invalid': statusValidateEmail && f.email.errors }" 
							[(ngModel)]="cliente.email" [disabled]="disable" (input)="validInput($event.target.name)" />
						<div *ngIf="statusValidateEmail && f.email.errors" class="invalid-feedback">
							<div *ngIf="f.email.errors.email">(*) Ingrese un correo valido</div>
						</div>
					</div>
				</div>
				<div class="form-group col-md-6 form-row">
					<label for="staticEmail" class="text-md-right col-md-2 col-form-label">Estado:</label>
					<div class="col-md-2">
						<label class="switch">
							<input id="indActivo" type="checkbox" class="form-check-input" name="cobroComision"
							[disabled]="disableBtnRegistrar" [(ngModel)]="cliente.indActivo" 
							formControlName="indActivo" />
							<span class="slider round"></span>
						</label>
					</div>
					<div class="col-md-2">
						<label for="staticEmail" class="text-md-right col-form-label">
							<p *ngIf="cliente.indActivo == true" class="text-success font-weight-bold">ACTIVO</p>
							<p *ngIf="cliente.indActivo == false" class="text-danger font-weight-bold">DE BAJA</p>
						</label>
					</div>
				</div>
            </div>
          </div>
        </div>
        <hr>
      </div>
    </div>
  </form>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-default btn-sm" [disabled]="clienteForm.invalid" [hidden]="hideStatus" (click)="btnRegistrarCliente()"
		style="width: 100px;">{{nameBtnOperation}}
		<em class="fa fa-save"></em>
	</button>
	<button type="button" class="btn btn-default btn-sm" (click)="bsModalRef.hide()" style="width: 100px;">Cerrar
		<em class="fa fa-times-circle"></em>
	</button>
</div>

<!--
<button *ngIf="!params.showView" *ngFor="let option of options" type="button" class="btn btn-default btn-sm" (click)="btnRegistrarCliente(option)" style="width: 100px;">{{option}}
<div class="modal-footer">
	<ng-container *ngIf="options.length">
		<button *ngFor="let option of options" type="button" class="btn btn-default" (click)="respond(option)">{{option}}</button>
	</ng-container>
</div>-->