<!--<ul class="header-layouts list-unstyled">
	<li class="color-3"></li>
	<li class="color-3"></li>
	<li class="color-3"></li>
	<li class="color-3"></li>
	<li class="color-3"></li>
	<li class="color-3"></li>
</ul>-->
<header class="container relative text-center">
	<a href="" class="d-lg-none d-xl-none">
		<!-- <img class="img-fluid logo-xs" alt="BBVA" src="{{'assets/img/logoperu-responsive.jpg' | assetsLocationPipe}}" />-->
	</a>
	<a href="" class="logo-bbva pull-left d-sm-none d-md-none d-lg-block">
		<!-- <img class="img-fluid" alt="BBVA" src="{{'assets/img/logoperu.jpg' | assetsLocationPipe}}" />-->
	</a>
	<div class="bloque-referencia d-none d-md-block">
		<ul class="bloque-referencia-user">
			<li>
				<span class="color-text-azul">
					<em class="fa fa-user-circle fa-2x"></em>
					<span> Datos Usuario</span>
				</span>
				<!--<span>{{usuario.codigo}}</span>-->
			</li>
			<li class="control-oculto">
				<span class="color-text-azul">
					<em class="fa fa-male fa-2x"></em>
					<span> Perfil Usuario</span>
				</span>
				<span>Vendedor</span>
			</li>
			<li class="control-oculto">
				<span class="color-text-azul">
					<em class="fa fa-clock fa-2x"></em> Fecha y Hora </span>
					<span>{{(today | async) | date:'dd-MM-yyyy HH:mm:ss a'}}</span>
			</li>
			<li class="paddl5">
				<a role="button" class="btn btn-secundary btn-off pull-right paddlr5" (click)="logout()">
					<span>Cerrar Sesi&oacute;n</span>
					<em class="fas fa-sign-out-alt"></em>
				</a>
			</li>
		</ul>
	</div>
</header>