<div class="form-row" *ngIf="pagination.getTotalRecords() > 0 && !pagination.loading">
  <div class="col-md-1" style="min-width: 100px;">
    <div class="btn-toolbar justify-content-center align-self-center">
      <button class="btn btn-default btn-sm" type="button" style="min-width: 35px;" ngbTooltip="Primero!" (click)="onFirst()" [disabled]="pagination.getFirstPage() || pagination.loading">
        <em class="fa fa-step-backward"></em>
      </button>
      <button class="btn btn-default btn-sm" type="button" style="min-width: 35px;" ngbTooltip="Anterior!" (click)="onPrev()" [disabled]="pagination.getFirstPage() || pagination.loading">
        <em class="fa fa-caret-left"></em>
      </button>
    </div>
  </div>
  <div class="col-md-4 form-row justify-content-center align-self-center" style="min-width: 200px;">
    <label class="text-md-right col-md-3 col-form-label custom-text-blue font-weight-bold">P&aacute;gina:</label>
    <div class="col-md-5">
      <input type="number" [attr.min]="'1'" [attr.max]="pagination.getTotalPages()" class="form-control form-control-sm text-md-center"  [disabled]="pagination.loading" name="pagination.page" [(ngModel)]="pagination.page" (change)="onPage()" (keyup)="keyUpPage($event)">
    </div>
    <label class="text-md-left col-md-3 col-form-label custom-text-blue font-weight-bold">de {{pagination.getTotalPages()}}</label>
  </div>
  <div class="col-md-1" style="min-width: 100px;">
    <div class="btn-toolbar justify-content-center align-self-center">
      <button class="btn btn-default btn-sm" type="button" style="min-width: 35px;" ngbTooltip="Siguiente!" (click)="onNext()" [disabled]="pagination.getLastPage() || pagination.loading">
        <em class="fa fa-caret-right"></em>
      </button>
      <button class="btn btn-default btn-sm" type="button" style="min-width: 35px;" ngbTooltip="&Uacute;ltimo!" (click)="onLast()" [disabled]="pagination.getLastPage() || pagination.loading">
        <em class="fa fa-step-forward"></em>
      </button>
    </div>
  </div>
  <div class="col-md-3 form-row justify-content-center align-self-center">
    <span class="custom-text-blue font-weight-bold">Mostrando {{pagination.getMinRecord()}} - {{pagination.getMaxRecord()}} de {{pagination.getTotalRecords()}}</span>
  </div>
</div>