<div class="container">
	<app-header></app-header>
	<app-menu></app-menu>
	<app-breadcumb></app-breadcumb>
	<router-outlet></router-outlet>
	<app-footer></app-footer>
	<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="large" color="#E8ECEF" type="timer">
		<br>
		<br>
		<br>
  		<p style="font-size: 20px; color: #E8ECEF">Cargando...</p>
	</ngx-spinner>
</div>
<div class="modal-loading"></div>
<div class="modal-container"></div>