<div class="modal-header alert-primary">
	<h4 class="modal-title font-weight-bold">{{ titulo }}</h4>
	<button type="button" class="btn btn-default btn-sm" aria-label="Close" (click)="bsModalRef.hide()">
		<em class="fa fa-window-close"></em>
	</button>
</div>
<div class="modal-body">
  <form [formGroup]="proveedorForm">
    <br>
    <div class="card bg-light">
      <div class="card-body">
        <div class="card">
          <div class="card-body">
            <div class="form-row">
				<div class="form-group col-md-6 form-row">
					<div class="col-md-4">
						<select class="form-control form-control-sm" [(ngModel)]="tipoDocumento.idCodigo" (change)="changeTipoDocumento($event.target.value)" name="tipoDocumento"
							formControlName="tipoDocumento">
							<option value="00401">D.N.I.</option>    
							<option value="00402">R.U.C.</option>
							<!--<option *ngFor="let select of lstTipoDocumento" value="{{select.idCodigo}}">{{select.descripcion}}</option>-->
						</select>
					</div>
					<div class="col-md-5">
						<input type="text" name="numDocumento" class="form-control form-control-sm" placeholder="Num. documento" maxlength="{{sizeSunatReniec}}"
							formControlName="numDocumento" [ngClass]="{ 'is-invalid': statusValidateNumDocumento && f.numDocumento.errors && f.numDocumento.touched }" 
							[(ngModel)]="proveedor.numDocumento" [disabled]="disable" (input)="validInput($event.target.name)"/>
						<div *ngIf="statusValidateNumDocumento && f.numDocumento.errors && f.numDocumento.touched" class="invalid-feedback">
							<div *ngIf="f.numDocumento.errors.required">(*) Num. documento es requerido</div>
							<div *ngIf="f.numDocumento.errors.minlength">(*) Minimo {{sizeSunatReniec}} caracteres</div>
						</div>
					</div>
					<div class="col-md-3">
						<button type="button" class="btn btn-default btn-sm" (click)="getDataSunatReniec()" [hidden]="hideStatus" style="width: 100px;">{{txtSunatReniec}}
							<em class="fa fa-location-arrow"></em>
						</button>
					</div>
				</div>
				<div class="form-group col-md-6 form-row">
					<label for="staticEmail" class="text-md-right col-md-2 col-form-label">(*) Categoria:</label>
					<div class="col-md-10">
						<ng-select [items]="lstProveedorCategoria"
								bindLabel="nombre"
								formControlName="categoria"
                                bindValue="idProveedorCategoria"
								name="categoria"
								[ngClass]="{ 'is-invalid': statusValidateCategoria && f.categoria.errors && f.categoria.touched }" 
								placeholder="{{estadoCbProveedorCategoria}}"
								notFoundText="{{estadoEmtyProveedorCategoria}}"
								(click)="validInput('categoria')"
                                (keyup)="reqLstProveedorcategoria($event.target.value)"
                                [(ngModel)]="proveedorCategoria.idProveedorCategoria">
						</ng-select>
						<div *ngIf="statusValidateCategoria && f.categoria.errors && f.categoria.touched" class="invalid-feedback">
							<div *ngIf="f.categoria.errors.required">(*) Categoria es requerido</div>
						</div>
					<!--<input type="text" name="categoria" class="form-control form-control-sm" placeholder="Categoria"
						formControlName="categoria"  [ngClass]="{ 'is-invalid': statusValidateCategoria && f.categoria.errors && f.categoria.touched }" 
						[(ngModel)]="proveedorCategoria.idProveedorCategoria" [disabled]="disable" (input)="validInput($event.target.name)"/>
					<div *ngIf="statusValidateCategoria && f.categoria.errors && f.categoria.touched" class="invalid-feedback">
						<div *ngIf="f.categoria.errors.required">(*) Categoria es requerido</div>
					</div>(ngModelChange)="clearFilter()"-->
					</div>
				</div>
				<div class="form-group col-md-6 form-row">
					<label for="staticEmail" class="text-md-right col-md-2 col-form-label">(*) Razón Social:</label>
					<div class="col-md-10">
					<input type="text" name="nombre" class="form-control form-control-sm" placeholder="Razón Social"
						formControlName="nombre"  [ngClass]="{ 'is-invalid': statusValidateNombre && f.nombre.errors && f.nombre.touched }" 
						[(ngModel)]="proveedor.nombre" [disabled]="disable" (input)="validInput($event.target.name)"/>
					<div *ngIf="statusValidateNombre && f.nombre.errors && f.nombre.touched" class="invalid-feedback">
						<div *ngIf="f.nombre.errors.required">(*) Razón Social es requerido</div>
					</div>
					</div>
				</div>
				<div class="form-group col-md-6 form-row">
					<label for="staticEmail" class="text-md-right col-md-2 col-form-label">Telefono:</label>
					<div class="col-md-10">
					<input type="text" name="telefono" class="form-control form-control-sm" placeholder="Telefono"
						formControlName="telefono" 
						[(ngModel)]="proveedor.telefono" [disabled]="disable"/>
					</div>
				</div>
				<div class="form-group col-md-6 form-row">
					<label for="staticEmail" class="text-md-right col-md-2 col-form-label">(*) Dirección:</label>
					<div class="col-md-10">
					<input type="text" name="direccion" class="form-control form-control-sm" placeholder="Direccion"
						formControlName="direccion"  [ngClass]="{ 'is-invalid': statusValidateDireccion && f.direccion.errors && f.direccion.touched }" 
						[(ngModel)]="proveedor.direccion" [disabled]="disable" (input)="validInput($event.target.name)"/>
					<div *ngIf="statusValidateDireccion && f.direccion.errors && f.direccion.touched" class="invalid-feedback">
						<div *ngIf="f.direccion.errors.required">(*) Direccion es requerido</div>
					</div>
					</div>
				</div>
				<div class="form-group col-md-6 form-row">
					<label for="staticEmail" class="text-md-right col-md-2 col-form-label">Email:</label>
					<div class="col-md-10">
					<input type="text" name="email" class="form-control form-control-sm" placeholder="Email"
						formControlName="email"  [ngClass]="{ 'is-invalid': statusValidateEmail && f.email.errors && f.email.touched }" 
						[(ngModel)]="proveedor.email" [disabled]="disable" (input)="validInput($event.target.name)"/>
					<div *ngIf="statusValidateEmail && f.email.errors && f.email.touched" class="invalid-feedback">
						<div *ngIf="f.email.errors.email">(*) Ingrese un correo valido</div>
					</div>
					</div>
				</div>
				<div class="form-group col-md-6 form-row">
					<label for="staticEmail" class="text-md-right col-md-2 col-form-label">Contacto:</label>
					<div class="col-md-10">
					<input type="text" name="contacto" class="form-control form-control-sm" placeholder="Contacto"
						formControlName="contacto" 
						[(ngModel)]="proveedor.contacto" [disabled]="disable"/>
					</div>
				</div>
				<div class="form-group col-md-6 form-row">
					<label for="staticEmail" class="text-md-right col-md-2 col-form-label">Estado:</label>
					<div class="col-md-2">
						<label class="switch">
							<input id="indActivo" type="checkbox" class="form-check-input" name="indActivo"
							[disabled]="disableBtnRegistrar" [(ngModel)]="proveedor.indActivo" 
							formControlName="indActivo" />
							<span class="slider round"></span>
						</label>
					</div>
					<div class="col-md-2">
						<label for="staticEmail" class="text-md-right col-form-label">
							<p *ngIf="proveedor.indActivo == true" class="text-success font-weight-bold">ACTIVO</p>
							<p *ngIf="proveedor.indActivo == false" class="text-danger font-weight-bold">DE BAJA</p>
						</label>
					</div>
				</div>
            </div>
          </div>
        </div>
        <hr>
      </div>
    </div>
  </form>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-default btn-sm" [disabled]="proveedorForm.invalid" [hidden]="hideStatus" (click)="btnRegistrar()"
		style="width: 100px;">{{nameBtnOperation}}
		<em class="fa fa-save"></em>
	</button>
	<button type="button" class="btn btn-default btn-sm" (click)="bsModalRef.hide()" style="width: 100px;">Cerrar
		<em class="fa fa-times-circle"></em>
	</button>
</div>

<!--
<button *ngIf="!params.showView" *ngFor="let option of options" type="button" class="btn btn-default btn-sm" (click)="btnRegistrarCliente(option)" style="width: 100px;">{{option}}
<div class="modal-footer">
	<ng-container *ngIf="options.length">
		<button *ngFor="let option of options" type="button" class="btn btn-default" (click)="respond(option)">{{option}}</button>
	</ng-container>
</div>-->