<div class="modal-header alert-primary">
	<h4 class="modal-title font-weight-bold">{{ titulo }}</h4>
	<button type="button" class="btn btn-default btn-sm" aria-label="Close" (click)="bsModalRef.hide()">
		<em class="fa fa-window-close"></em>
	</button>
</div>
<div class="modal-body">
  <form [formGroup]="proveedorCategoriaForm">
    <br>
    <div class="card bg-light">
      <div class="card-body">
        <div class="card">
          <div class="card-body">
            <div class="form-row">
				<div class="form-group col-md-6 form-row">
					<label for="staticNombre" class="text-md-right col-md-2 col-form-label">Categoria:</label>
					<div class="col-md-10">
						<input type="text" name="nombre" class="form-control form-control-sm" placeholder="Nombre"
							formControlName="nombre" [ngClass]="{ 'is-invalid': statusValidateNombre && f.nombre.errors && f.nombre.touched }" 
							[(ngModel)]="proveedorCategoria.nombre" [disabled]="disable" (input)="validInput($event.target.name)"/>
						<div *ngIf="statusValidateNombre && f.nombre.errors && f.nombre.touched" class="invalid-feedback">
							<div *ngIf="f.nombre.errors.required">(*) Categoria es requerido</div>
						</div>
					</div>
				</div>
				<div class="form-group col-md-6 form-row">
					<label for="staticEmail" class="text-md-right col-md-2 col-form-label">Detalle:</label>
					<div class="col-md-10">
					<input type="text" name="detalle" class="form-control form-control-sm" placeholder="Detalle"
						formControlName="detalle"  [ngClass]="{ 'is-invalid': statusValidateDetalle && f.detalle.errors && f.detalle.touched }" 
						[(ngModel)]="proveedorCategoria.detalle" [disabled]="disable" (input)="validInput($event.target.name)"/>
					<div *ngIf="statusValidateDetalle && f.detalle.errors && f.detalle.touched" class="invalid-feedback">
						<div *ngIf="f.detalle.errors.required">(*) Detalle es requerido</div>
					</div>
					</div>
				</div>
				<div class="form-group col-md-6 form-row">
					<label for="staticEmail" class="text-md-right col-md-2 col-form-label">Estado:</label>
					<div class="col-md-2">
						<label class="switch">
							<input id="indActivo" type="checkbox" class="form-check-input" name="indActivo"
							[disabled]="disableBtnRegistrar" [(ngModel)]="proveedorCategoria.indActivo" 
							formControlName="indActivo" />
							<span class="slider round"></span>
						</label>
					</div>
					<div class="col-md-2">
						<label for="staticEmail" class="text-md-right col-form-label">
							<p *ngIf="proveedorCategoria.indActivo == true" class="text-success font-weight-bold">ACTIVO</p>
							<p *ngIf="proveedorCategoria.indActivo == false" class="text-danger font-weight-bold">DE BAJA</p>
						</label>
					</div>
				</div>
            </div>
          </div>
        </div>
        <hr>
      </div>
    </div>
  </form>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-default btn-sm" [disabled]="proveedorCategoriaForm.invalid" [hidden]="hideStatus" (click)="btnRegistrar()"
		style="width: 100px;">{{nameBtnOperation}}
		<em class="fa fa-save"></em>
	</button>
	<button type="button" class="btn btn-default btn-sm" (click)="bsModalRef.hide()" style="width: 100px;">Cerrar
		<em class="fa fa-times-circle"></em>
	</button>
</div>

<!--
<button *ngIf="!params.showView" *ngFor="let option of options" type="button" class="btn btn-default btn-sm" (click)="btnRegistrarCliente(option)" style="width: 100px;">{{option}}
<div class="modal-footer">
	<ng-container *ngIf="options.length">
		<button *ngFor="let option of options" type="button" class="btn btn-default" (click)="respond(option)">{{option}}</button>
	</ng-container>
</div>-->